{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'schdle/css/base.css' %}">
    <meta charset="UTF-8">
    {% block head %}

    {% endblock head %}

    {% block mainmenu %}
<nav class="main_menu">
  <ul>
      {% for item in menu %}
    <li><a href="#"><i class="fa fa-home fa-fw"></i>{{item}}</a></li>
      {% endfor %}
    
    <li class="register">
        <button type="submit" name="enter_btn">Войти</button>
    </li>  
    
    <li class="user_avatar">
        <a  href="#">
        <img class="base_avatar" src="{% static 'schdle/img/user_avatar.png' %}" alt="Аватарка">
        </a>
    </li>
  </ul>
</nav>
    {% endblock mainmenu %}
</head>
<body>
    
{% block content %}
    <p>Контакты</p>
{% endblock content %}
</body>
<footer class="custom_footer">
    <p>Контакты: быдло@gmail.com</p>
    <p>Компания © Быдло Компани. Все права защищены.</p>
</footer>
</html>