{% extends "schdle/base.html" %}
{% load static %}
{% block head %}
      <link rel="stylesheet" href="{% static 'schdle/css/reg.css' %}">
      <title>{{title}}</title>
{% endblock head %}


{% block content %}

<h1>Регистрация</h1>

<form action="" method="post">
    <div class="reg_form">
        <table class="reg_form">
                {% for field in form %}
                    <tr>
                        <td><p>{{field.label}}</p></td>
                        <td class="label">{{field}}</td>
                    </tr>
                {% endfor %}
        </table>
        <button type="submit">Зарегистрироваться </button>
    </div>
</form>


{% endblock content %}
