@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
    font-family: monospace;
    color: #606060;
}
h1 {
    font-family: monospace;
    color: #606060;
    text-align: center;

}

ul {
  list-style: none;
  margin: 0 auto;

}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

nav {
  display: block;

  margin: 0 auto 30px;
}

.main_menu ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.main_menu li {
  float: left;
}
.main_menu a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.main_menu a:hover {background: #ADC0CE}

footer {
  margin-top: 50px;
  background-color: #29838C;
  padding:10px;
  padding-left: 15px; 
  font-size: 16px;
  color: #fafaff;  
}

.base_avatar {
  width: 32px;
  height: 32px;
  border-radius: 20%;
}

.user_avatar {
  
  margin-left: 1%;
  height: 20px;
}



.register{
  
  margin-left: 65.68%;
  position: relative;
  top: 15px;  
}

