@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
    font-family: monospace;
    color: #606060;
}
h1 {
    font-family: monospace;
    color: #606060;
    text-align: center;

}
footer {
  margin-top: 50px;
  background-color: #29838C;
  padding:10px;
  padding-left: 15px; 
  font-size: 16px;
  color: #fafaff;  
}


ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	background-color: #29838C;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.last {
  float: right;
  color: whitesmoke;
  
}

.last a{
  padding-left: 15px;
  padding-right: 15px;
}

ul.mainmenu li a {
	color: whitesmoke;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #C5CCD5;
}
.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}
html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}
.header {
	background: #3F4137;
	height: 60px;
}
.user_avatar{
  float: right;
  width: 42px; 
  height: 42px;
  position: relative;
  bottom: 10px;
}

.user_avatar a :hover{
  background-color: #C5CCD5;
}